<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483427277183-95eh53giktfij9ekq3no1l8hrakpkug4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483427277183-95eh53giktfij9ekq3no1l8hrakpkug4</string>
	<key>API_KEY</key>
	<string>AIzaSyBR6OxBEOEusDc5XIudQzcYb_uxnkDSIMs</string>
	<key>GCM_SENDER_ID</key>
	<string>483427277183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.barcode.barcodeScanner.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>partbarcode-db</string>
	<key>STORAGE_BUCKET</key>
	<string>partbarcode-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483427277183:ios:cd1d69345124f44c76224a</string>
</dict>
</plist>